<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.trendtube.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".activity.TTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="org.trendtube.app.utils.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name=".activity.TTActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_search"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/SearchAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.TTActivity" />

        </activity>

        <activity
            android:name=".activity.PlayerYTActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_second"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/BlackNoTitleBarTheme"/>

        <activity
            android:name=".activity.PlayerDMActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_second"
            android:theme="@style/BlackNoTitleBarTheme"/>

        <activity
            android:name=".activity.PlayerVMOActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_second"
            android:theme="@style/BlackNoTitleBarTheme"/>
    </application>

</manifest>
